@page "/Manage/AcademicService"

@using Microsoft.AspNetCore.Identity
@using MAWS.Models
@using MAWS.IntermediateData
@using MAWS.Services.DataAccess

@inject IDataAccessServices<IntermediateService> DataAccess
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<UserRole> RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime

<h3 class="page-heading-murdoch">Manage Academic Service</h3>

<div>
    <AuthorizeView Context="Auth">
        @*https://github.com/chanan/BlazorStrap/issues/149#issuecomment-569862948*@
        <Authorized>
            @if (@_serviceData == null)
            {
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            }
            else
            {
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-danger btn-lg active">
                        <input type="radio" name="options" id="option1" autocomplete="off" @onclick="ShowEditSection" checked> Edit Service
                    </label>
                    <label class="btn btn-danger btn-lg">
                        <input type="radio" name="options" id="option2" autocomplete="off" @onclick="ShowNewEntrySection"> Add New
                    </label>
                </div>
                <hr />
                if (_currentSection == "EditSection")
                {
                    <div id="EditSection" class="">
                        <table id="manage-academic-service-table" class="display table">
                            <thead>
                                <tr>
                                    <th>First Name </th>
                                    <th>Surname </th>
                                    <th>Year </th>
                                    <th>Hours </th>
                                    <th>Type</th>
                                    <th>Comments </th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var record in @_serviceData)
                                {

                                    <tr>
                                        <td>@record.FirstName</td>
                                        <td>@record.Surname</td>
                                        <td>@record.Year</td>
                                        <td>@record.Hours</td>
                                        <td>@record.Type</td>
                                        <td>@record.Comments</td>
                                        <td>
                                            <button class="btn btn-success btn-sm" @onclick="(() => OnClickEditDelete(record))">
                                                <i class=" fas fa-eraser"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @if (@_showEditModal)
                    {
                        <!-- This is the popup to delete or edit a user -->
                        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Edit User</h3>
                                        <!-- Button to close the popup -->
                                        <button type="button" class="close"
                                                @onclick="OnHideEditDeleteModal">
                                            <span aria-hidden="true">X</span>
                                        </button>
                                    </div>
                                    <!-- Edit form for the current user -->
                                    <div class="modal-body">
                                        <p>Type</p>
                                        <input class="form-control" type="text" placeholder="Type" @bind="_selectedServiceRow.Type" />
                                        <br />
                                        <p>Hours</p>
                                        <input class="form-control" type="number" placeholder="Hours" @bind="_selectedServiceRow.Hours " />
                                        <br />
                                        <p>Comments</p>
                                        <input class="form-control" type="text" placeholder="Comments" @bind="_selectedServiceRow.Comments" />
                                        <br />
                                        <br />
                                        <!-- Button to save the user -->
                                        <button class="btn btn-primary"
                                                @onclick="OnSaveEdit">
                                            Save
                                        </button>
                                        <!-- Button to delete the forecast -->
                                        <button class="btn btn-danger"
                                                @onclick="OnDeleteService">
                                            Delete
                                        </button>
                                        <br />
                                        @*<span style="color:red">@strError</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (@_currentSection == "NewEntrySection")
                {
                    <div id="NewEntrySection" class="initiallyHidden">

                        <EditForm Model="@_newServiceEntry" OnValidSubmit="@OnSubmitCreateService">
                            <DataAnnotationsValidator />
                            <div class="col-12 row">
                                <label class="col-2">Staff ID: </label>
                                <InputSelect class="form-control col-3" @bind-Value="_newServiceEntry.AcademicStaffID">
                                    <option selected>Staff ID</option>
                                    @foreach (var id in @_staffListId)
                                            {
                                        <option value="@id">
                                            @id
                                        </option>
                                            }
                                </InputSelect>
                            </div>
                            <br />
                            <div class="col-12 row">
                                <label class="col-2">Completions_Pc: </label>
                                <InputNumber class="form-control col-3" @bind-Value="_newServiceEntry.Year" placeholder="Completions_Pc" />
                            </div>
                            <br />
                            <div class="col-12 row">
                                <label class="col-2">Discretionary_Pc: </label>
                                <InputNumber class="form-control col-3" @bind-Value="_newServiceEntry.Hours" placeholder="Discretionary_Pc" />
                            </div>
                            <br />
                            <div class="col-12 row">
                                <label class="col-2">Fifteen_Pc: </label>
                                <InputText class="form-control col-3" @bind-Value="_newServiceEntry.Type" placeholder="Fifteen_Pc" />
                            </div>
                            <br />
                            <div class="col-12 row">
                                <label class="col-2">Pubs_Pc: </label>
                                <InputText class="form-control col-3" @bind-Value="_newServiceEntry.Comments" placeholder="Pubs_Pc" />
                            </div>
                            <br />
                            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
                        </EditForm>
                    </div>
                }
            }
        </Authorized>
    </AuthorizeView>

</div>

@code {
    private List<IntermediateService> _serviceData;
    private IntermediateService _selectedServiceRow;
    private IntermediateService _newServiceEntry = new IntermediateService();
    private List<string> _staffListId;

    private string _currentSection = "EditSection"; // EditSection, NewEntrySection
    private bool _showEditModal = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadServiceData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeAsync<object>("DataTablesAdd", "#manage-academic-service-table");

    }

    protected virtual void Dispose(bool disposing)
    {
        JsRuntime.InvokeAsync<object>("TestDataTablesRemove", "#manage-academic-service-table");
    }

    private async Task LoadServiceData()
    {
        _serviceData = await DataAccess.GetListAsync();
        _staffListId = await DataAccess.GetIdListAsync();
    }

    private void OnClickEditDelete(IntermediateService service)
    {
        _selectedServiceRow = service;
        _showEditModal = true;
    }

    private void OnHideEditDeleteModal() { _showEditModal = false; }

    private async Task OnSaveEdit()
    {
        await DataAccess.AddAsync(_selectedServiceRow);
        OnHideEditDeleteModal();
        await LoadServiceData();
    }

    private async Task OnDeleteService()
    {
        //maybe show confirm dialog/modal? then remove there
        await DataAccess.RemoveAsync(_selectedServiceRow);
        OnHideEditDeleteModal();

        //breaks on updatepage after delete
        //await LoadServiceData();
        //_serviceData.Remove(_selectedServiceRow);
    }

    private async Task OnSubmitCreateService()
    {
        await DataAccess.AddAsync(_newServiceEntry);
        await LoadServiceData();
    }

    private async Task ShowEditSection()
    {
        _currentSection = "EditSection";
        //await JsRuntime.InvokeAsync<object>("DataTablesAdd", "#manage-academic-service-table");
        await JsRuntime.InvokeAsync<object>("ToggleSection", "#EditSection");
        await JsRuntime.InvokeAsync<object>("ToggleSection", "#NewEntrySection");
    }

    private async Task ShowNewEntrySection()
    {
        _currentSection = "NewEntrySection";
        //JsRuntime.InvokeAsync<object>("TestDataTablesRemove", "#manage-academic-service-table");
        await JsRuntime.InvokeAsync<object>("ToggleSection", "#EditSection");
        await JsRuntime.InvokeAsync<object>("ToggleSection", "#NewEntrySection");
    }
}
